body {
  font-family: "Georgia";
  background: grey;
  color: white;
  text-align: center;
}
h1{
  font-size: 450%;
  letter-spacing: 3px;
  color: white;
  text-decpratopm: bold;
  text-decoration: underline;
  font-family: "Georgia";
}
p{
  font-size: 200%;
  color: white;
  text-decoration: bold;
  text-decoration: underline;
  font-family: "Georgia";
}
#firstImage{
  position: relative;
  left: 290px;
  top: 0px;
  width:500px;
  border-style: solid;
  border-color:white;
}
#secondImage{
  position: relative;
  left: 290px;
  top: 0px;
  width:280px;
  border-style: solid;
  border-color:white;
}
#thirdImage{
  position: relative;
  left: -800px;
  top: 0px;
  width:280px;
  border-style: solid;
  border-color:white;
}
iframe{
  
}
ul{
  position: fixed;
  top:0;
  left:0;
  width:200px;
  height:100%;
  margin:0px;
  padding:20px;
  text-align: center;
  list-style-type: none;
  position: fixed;
  background-color: dimgrey;
}
li{
  display: block;
  margin-top: 30px;
  margin-bottom: 60px;
}
li a{
  display: block;
  padding: 10px;
  color:white;
  text-decoration: none;
  border: solid;
}
li a:hover{
  background-color: white;
  color: black;
}
