body {
  font-family: "Georgia";
  background: grey;
  color: white;
  text-align: center;
}
h1{
  font-size: 450%;
  letter-spacing: 3px;
  color: white;
  text-decpratopm: bold;
  text-decoration: underline;
  font-family: "Georgia";
}
p{
  font-size: 200%;
  color: white;
  text-decoration: bold;
  text-decoration: underline;
  font-family: "Georgia";
}
img{
  width:500px;
  border-style: dashed;
  border-color:#CEB5B7;
}
iframe{
  
}
ul{
  text-align: center;
  list-style-type: none;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding:20px;
  color:white;
  text-decoration: none;
  border: dashed;
}
li a:hover{
  background-color: white;
  color: black;
}
